# OS / Editor
.DS_Store
*.log
.vscode/
.idea/

# Jekyll cache (if you ever build locally)
.sass-cache/
.jekyll-cache/
_site/

# Ruby/rbenv
Gemfile.lock

# Jekyll local server logs
jekyll.log
nohup.out
